{{#with comment}}
    <div class="card comment">
        <h2>{{authorName}}</h2>
        <p>{{createdAt}}</p>
        <p>{{content}}</p>
        {{#if ../user}}
            {{> likeDislike user=../user type="comment" _id=_id }}
            <div class="reply-div">
                <button class="reply" data-id="{{_id}}"><span class="material-symbols-outlined">plus</span>Reply
                </button>
                <dialog class="reply-dialog">
                    <form action="/comment/{{_id}}/reply" method="POST">
                        <label for="content">Message</label>
                        <textarea name="content" id="content" cols="30" rows="5"></textarea>
                        <button type="submit">Reply</button>
                    </form>
                </dialog>
            </div>
        {{/if}}
        <div class="replies">
            {{#each replies}}
                {{> replyCard reply=this user=../user}}
            {{/each}}
        </div>
    </div>
{{/with}}