{{#with review}}
    <a href="/review/{{_id}}">
        <div class="card review">
            <h2 class="{{ratings.averageRating}}">{{ratings.averageRating}}</h2>
            <p>Ask for Accessibility: {{#if ask}}Yes{{else}}No{{/if}}</p>
            <div class="individual-ratings">
                <p><span class="material-symbols-outlined" aria-hidden="true">accessible_forward</span>Physical
                    <span>{{ratings.physicalRating}}</span></p>
                <p><span class="material-symbols-outlined" aria-hidden="true">blind</span>Sensory
                    <span>{{ratings.sensoryRating}}</span></p>
                <p><span class="material-symbols-outlined" aria-hidden="true">neurology</span>Neurodivergent
                    <span>{{ratings.neurodivergentRating}}</span>
                </p>
            </div>
            <p>{{authorName}}</p>
            <p>{{createdAt}}</p>
            <p>{{content}}</p>
            {{> likeDislike user=../user type="review" _id=_id }}
        </div>
    </a>
{{/with}}