{{> navbar }}

<main>
    {{#with place}}
        <h1>{{name}}</h1>
        <p>{{description}}</p>
        <h2>Average Rating</h2>
        <p>{{averageRatings.overallRating}}</p>
        <section>
            <h3>Physical accessibility:</h3>
            <p>{{averageRatings.physicalRating}}</p>
            <h3>Sensory accessibility:</h3>
            <p>{{averageRatings.sensoryRating}}</p>
            <h3>Neurodivergent accessibility:</h3>
            <p>{{averageRatings.neurodivergentRating}}</p>
        </section>

        <div class="two-pane">
            <section>
                <h2>Reviews</h2>
                {{#unless reviews.length}}
                    <p class="empty-section">No reviews yet!</p>
                {{/unless}}
                {{#if ../user}}
                    <button><span class="material-symbols-outlined">plus</span>Add Review</button>
                {{/if}}
                {{#each reviews}}
                    {{> reviewCard review=this user=../user }}
                {{/each}}
            </section>
            <section>
                <h2>Comments</h2>
                {{#unless comments.length}}
                    <p class="empty-section">No comments yet!</p>
                {{/unless}}
                {{#each comments}}
                    {{> commentCard comment=this reply=true user=../user}}
                {{/each}}
            </section>
        </div>
    {{/with}}
</main>