{{> navbar }}

{{#with place}}
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    <h2>Rating</h2>
    <p>{{averageRating}}</p>
    <section>
        <h3>Physical accessibility:</h3>
        {{physicalRating}}
        <h3>Sensory accessibility:</h3>
        {{sensoryRating}}
        <h3>Neurodivergent accessibility:</h3>
        {{neurodivergentRating}}
    </section>

    <section>
        <h4>Reviews:</h4>
        {{#each reviews}}
            <p>{{review}}</p>
        {{/each}}
    </section>
{{/with}}