{{> navbar }}

<main>
    {{#with user}}
        <h1>{{username}}</h1>
        <section>
            <h2>Qualifications</h2>
            <ul>
                {{#each qualifications}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </section>
        <section>
            <h2>Reviews</h2>
            {{#if reviews}}
                <p>Number of reviews: {{reviews.length}}</p>
                <p>Average rating: {{averageRating}}</p>
            <div>
            {{#each reviews}}
                {{> reviewCard review=this user=../user }}
            {{/each}}
            </div>
            {{else}}
                <p class="empty-section">No reviews yet...</p>
            {{/if}}
        </section>
    {{/with}}
</main>